* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&display=swap");
}

body {
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-flow: column;
	height: 100vh;
	background-color: black;
}

.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: orange;
    border: 1px solid orange;
    padding: 1.5rem;
}

@keyframes flip {
    from{
        background-color: transparent;
        color: orange;
    }
    to{
        background-color: orange;
        color: black;
    }
}

a:hover{
    transform: scaleX(1.2);
    animation-name: flip;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


div{
    padding: 3rem;
}